* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.button {
  background-color: transparent;
  color: #abc1cc;
  padding: 8px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.button:hover {
  color: white;
}

.button--regular {
  background-color: #607d8b;
}

.button--primary {
  background-color: #38C172;
}

.button--outline {
  border: #abc1cc 1px solid;
}
.button--outline:hover {
  border: #fff 1px solid;
}

.button--icon {
  font-size: 22px;
  font-weight: normal;
  padding: 0;
  color: #abc1cc;
}
.button--icon:hover {
  color: white;
}

.button--icon--small {
  font-size: 18px;
}


.tab {
  display: inline-block;
  border-radius: 0;
  color: #abc1cc;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.tab-radio:checked + .tab {
  color: white;
  border-bottom: white 2px solid;
}

.tab-radio {
  display: none;
}
