<div id="App">
  {{> topbar embedded=embedded }}
  {{~> left-pane app='#App' ~}}
  {{> right-pane app='#App' }}
</div>

<script>
  window.addEventListener('load', () => {
    const App = document.getElementById('App');

    const state = {
      code: null,
      template: 'html',
    };

    function generate() {
      superagent
        .post(`/${state.template}/generate`)
        .send(state.code)
        .set('Accept', 'text/plain')
        .set('Content-Type', 'text/plain')
        .end((err, res) => {
          if (err) {
            document.getElementById('document-errors').innerHTML = res.body.errors ? JSON.stringify(res.body.errors, null, 2) : res.body.message;
            document.querySelector('.errors-wrapper').classList.remove('errors-wrapper--hidden');
            return;
          }

          var result = res.text;

          document.querySelector('.errors-wrapper').classList.add('errors-wrapper--hidden');
          document.getElementById('result').contentWindow.postMessage({
            eventName: 'content',
            content: result,
          }, '*');

          try {
            localStorage.setItem('doc-v2', state.code);
            localStorage.setItem('result-v2', result);
          } catch (e) {
            console.error('Could not store result in localStorage.');
            console.error(e);
          }
        });
    }

    App.addEventListener('templateChange', (e) => {
      state.template = e.detail;
      generate();
    });

    App.addEventListener('onCodeChange', (e) => {
      if (String(e.detail).trim().length) {
        state.code = e.detail;
        generate();
      }
    });

    App.addEventListener('downloadDocs', () => {
      var form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', `/${state.template}/download`);
      form.setAttribute('style', 'display: none;');

      var text = document.createElement('textarea');
      text.setAttribute('name', 'data');
      text.value = state.code;
      form.appendChild(text);

      document.body.appendChild(form);

      form.submit();
    });
  });
</script>
